.place__image {
  width: 100%;
  max-width: 460px;
  grid-row: 2/3;
  grid-column: 1/2;
}

@media (max-width: 1279px) {
  .place__image {
    max-width: 440px;
  }
}

@media (max-width: 768px) {
  .place__image {
    max-width: 340px;
  }
}

<<<<<<< HEAD
@media (max-width: 425px) {
=======
@media (max-width: 665px) {
>>>>>>> media/dev
  .place__image {
    max-width: 280px;
  }
}

@media (max-width: 550px) {
  .place__image {
    max-width: 460px;
  }
}
