.page__content {
  margin-bottom: 92px;
}

@media (max-width: 1023px) {
  .page__content {
    margin-bottom: 89px;
  }
}

@media (max-width: 767px) {
  .page__content {
    margin-bottom: 77px;
  }
}
