.header {
  margin: 0 auto;
  width: calc(100% - 96px);
  max-width: 1184px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@media (max-width: 1023px) {
  .header {
    width: calc(100% - 48px);
  }
}

<<<<<<< HEAD
@media (max-width:425px) {
=======
@media (max-width: 425px) {
  .header {
    width: calc(100% - 40px);
  }
}

@media (max-width: 340px) {
>>>>>>> media/dev
  .header {
    width: calc(100% - 32px);
  }
}
