.place__paragraphs {
 display: flex;
 flex-direction: column;
}

@media (max-width: 550px) {
  .place__paragraphs {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 340px) {
  .place__paragraphs {
    margin-left: 16px;
    margin-right: 0px;
  }
}
