.place__paragraphs {
 display: flex;
 flex-direction: column;
}


@media (max-width: 425px) {
<<<<<<< HEAD
=======
  .place__paragraphs {
    margin-left: 20px;
  }
}

@media (max-width: 340px) {
>>>>>>> media/dev
  .place__paragraphs {
    margin-left: 16px;
  }
}
