.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12px;
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity 0.2s linear;
}

.footer__link:hover {
  opacity: 0.8;
}

<<<<<<< HEAD
@media (max-width:425px) {
=======
@media (max-width: 660px) {
>>>>>>> media/dev
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}
