.content__intro {
  margin: 97px auto 93px;
}

@media (max-width: 1023px) {
  .content__intro {
    margin: 93px auto 89px;
  }
}

@media (max-width: 550px) {
  .content__intro {
    margin: 68px auto 65px;
  }
}
