.intro {
  width: calc(100% - 296px);
  max-width: 984px;
}

@media (max-width: 1279px) {
  .intro {
    width: calc(100% - 96px);
  }
}

@media (max-width: 768px) {
  .content__intro {
    width: calc(100% - 48px);
  }
}

@media (max-width: 425px) {
  .content__intro {
    width: calc(100% - 40px);
  }
}

@media (max-width: 340px) {
  .content__intro {
    width: calc(100% - 32px);
  }
}
