.lead__subtitle {
  margin: 0 0 64px;
  max-width: 640px;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

@media (max-width: 1279px) {
  .lead__subtitle {
    margin: 0 0 56px;
  }
}

@media (max-width: 660px) {
  .lead__subtitle {
    margin: 0 0 40px;
    width: 370px;
    font-size: 22px;
  }
}

@media (max-width: 425px) {
  .lead__subtitle {
    width: 288px;
    font-size: 16px;
    line-height: 1.25;
  }
}
