.cover {
  margin: 0 auto;
  width: 100%;
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsla(216, 6%, 17%, 0.3);
  background-image: url(../../images/cover-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  transition: background-color 0.3s linear;
}

.cover:hover {
  background-color: hsla(216, 6%, 17%, 0.8);
}

@media (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media (max-width: 660px) {
  .cover {
    min-height: 300px;
  }
}

@media (max-width: 340px) {
  .cover {
    min-height: 200px;
  }
}
