.cover {
  margin: 0 auto;
  width: 100%;
  max-width: 1184px;
  padding-bottom: 38.5%;
  background-color: hsla(216, 6%, 17%, 0.3);
  background-image: url(../../images/cover-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  transition: background-color 0.3s linear;
}

.cover:hover {
  background-color: hsla(216, 6%, 17%, 0.8);
}

@media (max-width: 1023px) {
  .cover {
    padding-bottom: 31%;
  }
}

@media (max-width: 767px) {
  .cover {
    padding-bottom: 19%;
  }
}
