.cover {
  margin: 0 auto;
  width: 100%;
  max-width: 1184px;
  background-image: url(../../images/cover-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

