.cover__overlay {
  width: 100%;
  height: 100%;
  display: flex;
  min-height: 740px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(42, 44, 47, 0.3);
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s linear;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
}

@media (max-width: 1024px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media (max-width: 660px) {
  .cover__overlay {
    min-height: 300px;
  }
}

@media (max-width: 340px) {
  .cover__overlay {
    min-height: 200px;
  }
}
