.cover__overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(0, 100%);
}

@media (max-width:1179px) {
  .cover__overlay {
    transform: translate(0, 80%);
  }
}

@media (max-width:1024px) {
  .cover__overlay {
    transform: translate(0, 50%);
  }
}

@media (max-width:767px) {
  .cover__overlay {
    transform: translate(0, 27%);
  }
}
