.lead__caption {
  margin: 0;
  align-self: flex-start;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media (max-width: 425px) {
<<<<<<< HEAD
=======
  .lead__caption {
    margin-left: 20px;
  }
}

@media (max-width: 340px) {
>>>>>>> media/dev
  .lead__caption {
    margin-left: 16px;
  }
}
