.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: repeat(2, fit-content(50%));
  grid-gap: 42px 40px;
}

@media (max-width:1279px) {
  .place {
    grid-gap: 42px 32px;
  }
}

@media (max-width: 768px) {
  .place {
    grid-gap: 45px 28px;
  }
}

@media (max-width: 550px) {
  .place {
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
}

@media (max-width: 340px) {
  .place {
    grid-row-gap: 29px;
  }
}
