.place {
  max-width: 984px;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(288px, 1fr)); */
  /* grid-template-columns: repeat(auto-fit, minmax(45%, 1fr)); */
  /* grid-gap: 48px 40px; */
  box-sizing: content-box;
  grid-template-columns: repeat(2, fit-content(50%));
  grid-gap: 42px 40px;
}

@media (max-width:1279px) {
  .place {
    grid-gap: 42px 32px;
  }
}

@media (max-width: 1023px) {
  .place {
    grid-gap: 44px 28px;
  }
}

@media (max-width: 425px) {
  .place {
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
}
