.intro__title {
  max-width: 690px;
  margin: 0 0 35px;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
}

@media (max-width: 660px) {
  .intro__title {
    max-width: 400px;
    font-size: 40px;
    line-height: 1.1;
  }
}

@media (max-width: 340px) {
  .intro__title {
    margin: 0 0 36px;
    max-width: 250px;
    font-size: 32px;
    line-height: 1.08;
  }
}
